body {
    font-family: "Roboto Mono", monospace;
    background-color: #060e16;
    color: white;
}
table {
    border-collapse: collapse;
  }

  td,
  th {
    border: 1px solid white;
    padding: 5px;
    text-align: center;
  }

  th {
    font-weight: bold;
    background-color: #3e4a51;
  }