:root {
    --teal-blue: #0e2a38;
    --dark-blue: #060e16;
    --yellow: #8d8100;
    --dark-yellow: #5a5300;
    --white: #FFFFFF;
    --black: #000000;   
}


a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

body {
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    padding: 5px;

    background-color: var(--dark-blue);
    color: var(--yellow);
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 1);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.8);
}

.typewriter {
    display: none;
}

a:hover {
    color: var(--dark-yellow);
}